<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Good) Exercises</span></div>

#### Exercise 1

In [19]:
odd_squares = []

for number in range(0, 10):
    # Skips printing if number is even
    if number % 2 == 0:
        continue
    odd_squares.append(number ** 2)

#### Exercise 2

In [13]:
# If number is odd, return the square

[number ** 2 for number in range(10) if number % 2 == 1]

[1, 9, 25, 49, 81]

#### Exercise 3

In [1]:
%%timeit

odd_squares = []

for number in range(0, 10):
    # Skips printing if number is even
    if number % 2 == 0:
        continue
    odd_squares.append(number ** 2)

704 ns ± 6.17 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [2]:
%%timeit

# If number is odd, return the square

[number ** 2 for number in range(10) if number % 2 == 1]

633 ns ± 7.87 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

The second one is roughly 71 ns faster than the first one.

#### Exercise 4

In [12]:
quantity = 100
year = 0

while quantity > 50:
    quantity *= 0.95
    year += 1    


print(quantity, year)

48.76749791155295 14

It takes between 13 to 14 years for the sample to reduce to half its original amount

#### Exercise 5

In [3]:
co2_data = [
    (2000, 369.55), (2001, 371.14), (2002, 373.28), 
    (2003, 375.80), (2004, 377.52), (2005, 379.80), 
    (2006, 381.90), (2007, 383.79), (2008, 385.60), 
    (2009, 387.43), (2010, 389.90), (2011, 391.65), 
    (2012, 393.85), (2013, 396.52), (2014, 398.65),
    (2015, 400.83), (2016, 404.24), (2017, 406.55), 
    (2018, 408.52), (2019, 411.44), (2020, 414.24)
]


# Start range with 1 because (n + 1) out of range, so use (n - 1) instead

for n in range (1, len(co2_data)):
    (prev_year, prev_co2) = co2_data[n - 1]
    (this_year, this_co2) = co2_data[n]
    if prev_co2 <= this_co2 - 3:
        co2_diff = this_co2 - prev_co2
        # Comparing 2 floats, so need to round the value
        print(f"{this_year}, {round(co2_diff, 2)}")

2016, 3.41