<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

#### Exercise 1

In [23]:
import numpy as np

temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]

for x in np.array(temperatures_celsius):
    fahrenheit = x * 1.8 + 32
    print(x, fahrenheit)

0 32.0
5 41.0
10 50.0
15 59.0
20 68.0
25 77.0
30 86.0
35 95.0
40 104.0
45 113.0
50 122.0

#### Exercise 2

In [24]:
five = [1, 2, 3, 4, 5]

x = 0

# Add the count column, then the colon 2 spaces to the right since tab is 4 spaces
for row_number in five:
    print(f"{row_number}   :", end="\t")

    # Multiply row number by column number, then add a tab for spacing
    for column_number in (five):
        print(f"{row_number * column_number}", end="\t")
    print("\n")

1   :	1	2	3	4	5

2   :	2	4	6	8	10

3   :	3	6	9	12	15

4   :	4	8	12	16	20

5   :	5	10	15	20	25

#### Exercise 3

In [54]:

# Checks if random number is more than 0.5, and counts it as heads if it is
for expt_number in range(1, 11):
    x = np.random.rand(10)
    heads = x > 0.5
    print(f"Experiment {expt_number}: No. of Heads =", int(np.sum(x[heads])))

Experiment 1: No. of Heads = 3
Experiment 2: No. of Heads = 3
Experiment 3: No. of Heads = 2
Experiment 4: No. of Heads = 3
Experiment 5: No. of Heads = 2
Experiment 6: No. of Heads = 2
Experiment 7: No. of Heads = 3
Experiment 8: No. of Heads = 4
Experiment 9: No. of Heads = 1
Experiment 10: No. of Heads = 4